.page {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.body {
  margin: 0 auto;
  /* padding: 20px 12px 50px; */
  width: 100%;
  max-width: 900px;
  display: grid;
  align-content: start;
  grid-template-columns: minmax(0, 1fr);
  /* gap: 20px; */
}

.footer {
  background-color: var(--peachade);
}

.footer > .footerContent {
  max-width: 900px;
  display: grid;
  padding: 40px 20px 50px;
  margin: auto;
  gap: 20px;
}

.footer > .footerContent > .logo {
  margin-bottom: 15px;
}

.footer > .footerContent > .logo path {
  fill: var(--brown);
}

.footer > .footerContent > div {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  gap: 10px;
  color: var(--light-brown);
}

.footer > .footerContent > div > span {
  font-size: 16px;
  line-height: 20px;
}
