.select {
  position: relative;
}

.select>select {
  -webkit-appearance: none;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--blue-grey-lighten-3);
  box-sizing: border-box;
  display: inline-grid;
  font-size: 18px;
  gap: 10px;
  grid-auto-flow: column;
  justify-content: center;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 20px 16px 8px;
  position: relative;
  -webkit-transition: box-shadow 0.2s linear, border 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s linear, border 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  vertical-align: middle;
  width: 100%;
}

.select>select {
  /* background-color: rgba(0, 0, 0, 0.05); */
  color: var(--primary-text);
}

/* .select:not(.disabled)>select:hover,
.select:not(.disabled)>select:active,
.select.active>select {
  background-color: rgba(0, 0, 0, 0.06);
} */

/* 
.select.active>select {
  box-shadow: 0px 0px 0px 1px var(--brown);
} */

.select.disabled>select {
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

/***************************************/

.select>label {
  color: var(--blue-grey-darken-2);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  pointer-events: none;
  position: absolute;
  transform-origin: top left;
  transform: translate(16px, 15px);
  -webkit-transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  z-index: 2;
}

.select.active>label,
.select.filled>label {
  transform: translate(16px, 1px) scale(0.75);
}

.select.disabled>label {
  /* background-color: var(--peachade); */
  pointer-events: none;
}

/***************************************/

.select>.icon {
  color: var(--blue-grey-darken-2);
  position: absolute;
  right: 10px;
  top: 12px;
  transform-origin: center;
  -webkit-transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.select.active>.icon {
  transform: rotate(180deg);
}