.snackbar {
  position: fixed;
  left: 10px;
  right: 10px;
  bottom: 16px;
  z-index: 101;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.snackbar > span {
  background-color: var(--coarse-wool);
  color: var(--floral-white);
  padding: 16px 20px;
  max-width: clamp(100px, 100%, 900px);
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  cursor: pointer;
  animation: 0.3s ease-out 0s 1 slideInFromBottom;
}

.snackbar.hide > span {
  animation: 0.3s ease-out 0s forwards slideOutFromBottom;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(110%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutFromBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110%);
  }
}
