.home {
  display: grid;
  gap: 20px;
}

.home > span {
  text-align: center;
}

.home .search-form-wrapper {
  display: grid;
  background-color: var(--peachade);
  padding: 12px 20px;
  border-radius: 16px;
}

.home .search-form-wrapper > .header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.home .search-form-wrapper > .header > .material-symbols-rounded {
  color: var(--desert-gold);
  font-size: 22px;
}

.home .search-form-wrapper > .header > .title {
  color: var(--desert-gold);
  font-size: 16px;
}
