.annuncio {
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--peachade);
  padding: 12px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 0 8px;
}

.annuncio > .imageContainer {
  display: grid;
  place-content: center;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  font-size: 12px;
}

.annuncio > .imageContainer > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.annuncio > .imageContainer > .imagePlaceholderIcon {
  font-size: 48px;
  color: var(--raisin-black);
  opacity: 0.6;
}

.annuncio > .info {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 4px 4px;
  align-content: start;
  justify-items: start;
  align-items: start;
}

.annuncio > .info > span {
  display: block;
}

.annuncio > .info > .title {
  grid-column: span 2;
  font-size: 20px;
  color: var(--coarse-wool);
}

.annuncio > .info > .addIcon {
  font-size: 20px;
  color: var(--coarse-wool);
}

.annuncio > .info > .description {
  grid-column: span 2;
  font-size: 16px;
  font-weight: 400;
  color: var(--light-brown);
}

.annuncio > .info > .icon {
  font-size: 14px;
  color: var(--light-brown);
}
