.topBar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0;
  color: var(--floral-white);
  background-color: var(--coarse-wool);
}

.topBar > * {
  height: 64px;
  display: grid;
  grid-gap: 20px;
  align-content: center;
}

.topBar > .topBarLeft {
  grid-gap: 10px;
  grid-auto-flow: column;
  justify-content: start;
}

.topBar > .topBarLeft > .logo path {
  fill: var(--floral-white);
}

.topBar > .topBarCenter {
  grid-auto-flow: column;
  justify-content: center;
}

.topBar > .topBarRight {
  grid-auto-flow: column;
  justify-content: end;
}

.topBar > .topBarSub {
  height: unset;
  grid-column: span 3;
}

.topBar > .topBarSub > .login {
  padding: 20px 0 36px;
  font-size: 26px;
  line-height: 32px;
}

.topBar > .topBarSub > .logged {
  padding-bottom: 20px;
  font-size: 16px;
}

.topBar a {
  display: grid;
}
