.top-bar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 0;
  color: var(--floral-white);
  background-color: var(--coarse-wool);
}

.top-bar>* {
  height: 64px;
  display: grid;
  grid-gap: 20px;
  align-content: center;
}

.top-bar>.top-bar-left {
  grid-gap: 10px;
  grid-auto-flow: column;
  justify-content: start;
}

.top-bar>.top-bar-center {
  grid-auto-flow: column;
  justify-content: center;
}

.top-bar>.top-bar-right {
  grid-auto-flow: column;
  justify-content: end;
}

.top-bar>.top-bar-sub {
  height: unset;
  grid-column: span 3;
}

.top-bar>.top-bar-sub>.login {
  padding: 20px 0 36px;
  font-size: 26px;
  line-height: 32px;
}

.top-bar>.top-bar-sub>.logged {
  padding-bottom: 20px;
  font-size: 16px;
}

.top-bar a {
  display: grid;
}